*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header-menu{
    line-height: 20px;
}

#seguros-container img{
    width: 70px;
    height: 70px;
}

#navButtons button{
    background-color: #003f75;
    color: white;
}

#menuButton::before{
    content: 'Menu';
    padding-right: 10px;
}

.drop-style{
    padding: 20px;
    color: white
}

#dropdown-items a{
    color:  #003f75;
    border-radius: 10px;
    font-size: 13px;
}

#dropdown-items a:hover{
    background-color: #003f75;
    color: white;
}

/* CLASSES GENÉRICAS: */

.py-90px{
    padding-top: 90px;
    padding-bottom: 90px;
}

.text-blue{
    color: #003f75;
}

.bg-grey{
    background-color: #f5f5f5;
}

.bg-blue{
    background-color: #003f75;
}

.text-shadows{
    text-shadow: 1.5px 1.5px 1.5px #cccccc;
}

.w-60{
    width: 60%;
}

.lh-50px{
    line-height: 50px;
}

.mt-20px{
    margin-top: 20px;
}

.fs-responsive-xl{
    font-size: 22px;
}

.fs-responsive-lg{
    font-size: 20px;
}

.fs-responsive-md{
    font-size: 18px;
}

.fs-responsive-sm{
    font-size: 16px;
}

.fs-responsive-xs{
    font-size: 16px;
}

/* @media screen and (max-width: 991px) {

    #top{
        position: static;
        text-align: center;
    }

    #mainLogo{
        display: block;
        width: 100%;
        text-align: center;
    }

    #navButtons{
        float: none;
    }

} */

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

    .fs-responsive-xl{
        font-size: 16px;
    }

    .fs-responsive-lg{
        font-size: 14px;
    }

    .fs-responsive-md{
        font-size: 12px;
    }

    .fs-responsive-sm{
        font-size: 10px;
    }

    .fs-responsive-xs{
        font-size: 8px;
    }

}
